<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/JUXTA_ONLINE_TRADING"
        android:supportsRtl="true"
        android:theme="@style/Theme.JUXTAGROCERY"
        tools:targetApi="31">
        <activity
            android:name=".AboutusActivity"
            android:exported="false"
            android:label="About us"
            />
        <activity
            android:name=".CartACTIVITY"
            android:exported="false"
            android:windowSoftInputMode="adjustResize|adjustPan"
            android:label="Your Cart"/>
        <activity
            android:name=".SearchActivity"
            android:exported="false"
            android:label="Search Item"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".GroceryItemActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".TrackUserTime" />
    </application>

</manifest>